logs/*
test/*
**__pycache__/
outputs/*
stt4sg_transcribe.egg-info/*
diar_test/*
pretrained_sb_vad/*
pretrained_sb_ecapa/*
PIPELINE.md
.vscode/*
3 - Drachen - Moral und Freundschaft lernen.mp3
swissdial_hu/*
swissdial_all.tar.gz
stt4sg-350/*
build_hf_srg_dataset.py
build_hf_stt4sg_350_dataset.py
.env
